* {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  width: 47.5%;
  margin: 0 auto;
  background-color: #4CAF50;
  color: white;
  padding : 10px;
  margin-top: 20px;
  position: relative;
  z-index: 2;
  border-radius: 20px 20px 0px 0px;
}

h3 {
  margin-top: 20px;
  color: #333;
  position: relative;
  z-index: 10;
}

form {
  width: 60%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
  max-width: 800px;
  position: relative;
  z-index: 1;
  display: block;
}

.form-table {
  width: 100%;
  margin-bottom: 20px;
  display: table;
  border-collapse: collapse;
}

.form-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.radio-input {
  width: auto;
}

.checkbox2 {
  width: auto;
  margin-right: 5px;
  display: inline-block;
}

label.checkbox2 {
  display: inline-block;
  margin-right: 15px;
  font-weight: normal;
}

.agreement {
  display: flex;
  margin-left: 1px;
}

.inline-label {
  display: inline-block;
  margin-right: 15px;
  font-weight: normal;
  vertical-align: middle;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input, textarea, select {
  width: 100%;
  background-color: #fff;
  padding: 8px;
  margin: 5px 0 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

textarea {
  height: 100px;
  overflow: auto;
}


button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block; 
  max-width: 100%;
}

button:hover {
  background-color: #45a049;
}

#ResetButton {
  background-color: #b8463e;
}

#ResetButton:hover {
  background-color: #e30804;
}

p {
  font-size: 14px;
  color: #777;
  text-align: center;
  margin-top: 10px;
}

a {
  color: #4CAF50;
  text-decoration: none;
  display: inline-block;
}


a:hover {
  text-decoration: underline;
}

.RegisterButton {
  width: 100%;
  display: block;
}

.RegisterButton:hover {
  background-color: #0e86ef;
}

.form-notification {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  text-align: center;
  color: #e30804;
  border-radius: 5px;
  max-width: 600px;
  border: 20px;
}



